<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/homeStyle.css" />
    <meta charset="UTF-8">
    <title>shop.com</title>
</head>
<body>
  <h3>navigation bar : </h3>
  <nobr></nobr>
  <a href="/">homePage</a>
  <a href="/prod">products</a>
  <a href="/cart">carts</a>
<h1>welcome to my clothes shop</h1>
<h2>in this website you can find sime very cool pants and t-shirts</h2>


 <div class="card">
  <img src="https://i.etsystatic.com/28809138/r/il/d4363f/3519314445/il_570xN.3519314445_lgds.jpg" alt="W3Schools.com" alt="Jeans" style="width:400px;height:400px;">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div> 


 <div class="card">
  <img src="https://canary.contestimg.wish.com/api/webimage/5e981c690ca0dc55df360cfd-large.jpg?cache_buster=e407ad8c64109c3c2d3441b77992abfd" alt="W3Schools.com" alt="Jeans" style="width:400px;height:400px;">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div> 



 <div class="card">
  <img src="https://m.media-amazon.com/images/I/51yLHFYOd5L._AC_UY1100_.jpg" alt="W3Schools.com" alt="Jeans" style="width:400px;height:400px;">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div>  



 <div class="card">
  <img src="https://www.shirtbox.com/cdn/shop/products/MP-GRY_52fd5d7b-f515-4b1b-8915-c7dfdb7dfd64_600x.jpg?v=1642081091" alt="W3Schools.com" alt="Jeans" style="width:400px;height:400px;">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div> 


 <div class="card">
  <img src="https://d3thqe68ymbqps.cloudfront.net/1302241-home_default/-new-kids-boys-t-shirt-super-zings-3d-printed-funny-loose-toddler-.jpg" alt="W3Schools.com" alt="Jeans" style="width:400px;height:400px;">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div> 



 <div class="card">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-ZMvfyK5oo-g6ANF4yrHLPyU0JAhZePVayCbsMzY-NT5HdhbaWNSmTKbWof3XcfkgAYk&usqp=CAU" alt="W3Schools.com" alt="Jeans" style="width:400px;height:400px;">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans..</p>
  <p><button>Add to Cart</button></p>
</div>            










<button> add to cart</button>



</body>
</html>`