<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>products.com</title>
</head>
<body>
          <nobr></nobr>
  <h3>navigation bar : </h3>
  <nobr></nobr>
  <a href="/">homePage</a>
  <a href="/prod">products</a>
  <a href="/cart">carts</a>
    <h1>welcome to our amazing products page</h1>
    <h2>in this page you can see our product deatails</h2>
    <h3>the prices are simple :</h3>
    <h4>every shirt costs - 20$</h4>
    <h4> every pants costs 10$</h4>


</body>
</html>
